*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "playerFont";
  src: url("src/PressStart2P.ttf");
}
body {
  background-color: black;
  text-align: center;

}

.container{
    display: flex;
    flex-direction: column;
}

.typewritter-container{
    height: 150px;
}

p {
  font-family: "playerFont", monospace;
  font-weight: 400;
  font-size: 30px;
  color: #dadada;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
 
}

.pokemonEvolving {
  width: 25%;
  height: auto;
}
#stayTuned{
    margin-top: 120px;
}
p::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background-color: #dadada;
  right: -5px;
  top: 0;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

