*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body > .container {
  min-height: 100vh;
  width: 100%;
}

@font-face {
  font-family: "playerFont";
  src: url("src/PressStart2P.ttf");
}
body {
  background-color: black;
  text-align: center;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.typewritter-container {
  height: 150px;

  
}


p {
  font-family: "playerFont", monospace;
  font-weight: 400;
  font-size: 30px;
  color: #dadada;
  display: inline-block;
  margin-top: 20px;
  position: relative;

  height: 150px;
}

.pokemonEvolving {
  width: 25%;
  height: auto;
  transform: scaleX(1);
  animation: pokemonAppear 300ms;
  transform-origin: 0% 50%;

}

#stayTuned{
  height: auto;
}
#stayTuned::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  background-color: #dadada;
  right: -5px;
  top: 0;
  animation: cursor 1s infinite;
}

#github {
  width: 50px;
  height: 45px;
  animation: gitAppear 3s ease 10s 1 backwards;
  margin-bottom: 50px;
  cursor: pointer;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pokemonAppear {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes gitAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0;
  }
  .pokemonEvolving {
    width: 100%;
  }
  .typewritter-container {
    height: auto;
  }
  p {
    font-size: 18px;
  }
  #stayTuned{
    font-size: 30px;
  }
  #stayTuned::after{
    display:none;
  }

  #github {
    text-align: center;
    width: 45px;
    height: 40px;
  }
}

@media screen and (min-width:768px) and (max-width:992px){
  #portfolioEvolving{
    font-size: 30px;
  }

  .pokemonEvolving{
    width: 70%;
  }
  .stayTuned{
    font-size: 40px;
  }
}
